.elem-container {
    width: 30px;
    height: 100px;
    background-color: var(--main-blue);
    margin: 15px 300px;
    position: relative;
}

.elem-bar {
    width: 10px;
    height: 100px;
    background-color: var(--main-green);
    position: absolute;
    bottom: 0px;
    /* top: 20px; */
    /* left: 10px; */
}

.elem-circ {
    width: 14px;
    height: 14px;
    background-color: var(--main-purple);
    /* border-radius: 50%; */
    position: absolute;
    top: -7px;
    left: -2px;
}

