/* Testing Slider */
.slider-track-try2 {
    height: 280px;
    background-color: var(--main-green);
    position: absolute;
    width: 15.5px;
    margin: 15px 300px;
    top: 0;
    left: -250px;
    opacity: 70%;
} 
/* UNUSED, ALL PROPERTIES OVERWRITTEN BY .array-item{} */

.slider-bar-try2 {
    height: 280px;
    background-color: var(--main-blue);
    position: absolute;
    bottom: 0px;
    width: 15.5px;
    top: 20px;
    left: 10px;
}

.slider-circ-try2 {
    width: 21.5px;
    background-color: var(--main-purple);
    border-radius: 50%;
    /* transform: rotate(45deg); */
    position: absolute;
    color: white;
    height: 21.5px;
    font-size: 15px;
    top: -0px;
    left: -3px; /*UNUSED, OVERWRITTEN BY INLINE*/
}

.slider-circ-try2:hover {
    cursor: pointer;
}