@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --main-purple: #6300ff;
    --main-blue: #5CCEFF;
    --main-yellow: #EDE873;
    --yellow-bright: #FFEE00;
    --yellow-fade1: #F9EE5A;
    --yellow-fade2: #FBEE3A;
    --main-green: #30F2C0;
    --main-magenta: #FF58BA;
    --magenta-bright: #FF0095;
    --magenta-fade1: #FF4AB4;
    /* --yellow-fade3: #D9EB6A; */
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

/* Header & Navbar */
header {
    background-color: var(--main-purple);
    overflow: auto;
    height: 12vh;
}

header .flex.container {
    margin: auto;
    height: 65%;
    color: white;
    background: url(motif.svg) #36008c no-repeat -5% 45% / 20%;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    justify-content: space-between;
}

header .flex li {
    font-weight: 500;
    margin: 20px;
}

span.separator {
    border-left: 1px solid #fff;
    height: 20px;
}

header nav, header ul, header li {
    height: 100%;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-text {
    transition: 0.5s;
    display: inline-block;
}

.active > .nav-text {
	background-color: var(--main-purple);
	padding: 5px 0 5px 10px;
	border-radius: 100px;
}

.nav-collapsable {
    display: none;
}

.nav-collapsable.active {
	background-color: var(--yellow-fade2);
	padding: 5px 10px;
	border-radius: 100px;
	color: #000;
    display: initial;
}

/* Main Section */
.main-sec {
    height: 68vh;
}

.main-sec .main-sec-container {
    position: relative;
    height: 80%;
    width: 70%;
    outline: 1px solid blue;
    flex-direction: column;
    /* background-color: #00ffbb41; */
    /* margin: auto; //Not needed due to "display: flex" on parent*/
}

.main-array {
    outline: 2px solid red;
    position: relative;
    height: 90%;
    width: 100%;
}

.array-item {
    height: 100%;
    display: inline-block;
    position: absolute;
    transition: 0.5s ease-out;
    color: white;
    text-align: center;
    bottom: 0; /* This serves as an anchor for the transition during merge sort */
    /* background-color: var(--main-green); */
}

#settings-box {
    /* outline: 1px solid red; */
    background-color: rgba(191, 236, 255, 0.925);
    background-color: rgba(255, 251, 189, 0.849);
    background-color: rgba(198, 246, 255, 0.97);
    border-radius: 5%;
    
    z-index: 100;
    position: absolute;
    right: -60px;
    top: 10px;
    
    /* width: 35%;
    height: 100%;
    min-width: 300px;
    min-height: 300px;
    max-width: 400px; */
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
    max-width: 400px;
    
    font-size: 16px;
    color: var(--main-purple);

    transition: 0.5s;
}

#settings-toggle {
    background: url(cog.svg) var(--main-blue) no-repeat -16px;
    border-radius: 100%;

    position: absolute;
    top: -17px;
    right: -17px;

    width: 35px;
    height: 35px;

    opacity: 35%;
}

#settings-toggle:hover, .open #settings-toggle {
    opacity: 100%;
}

#settings-container {
    /* outline: 1px solid red; */
    display: none;

    height: 85%;

    grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
    grid-template-columns: repeat(4, 1fr);
}

#settings-size, #settings-speed {
	width: 100%;
    justify-content: space-between;
    text-align: right; /* this is not effective */
    font-weight: 500;
}

.h-slider-track {
	width: 73%;
	height: 3px;
	background-color: var(--main-blue);
    /* box-shadow: var(--main-blue) 0 0 5px 0px; */
	position: relative;
}

.h-slider-handle {
	width: 15px;
	height: 15px;
	background-color: #fff;
    box-shadow: 0 0 3px 0 var(--main-blue);
	position: absolute;
	top: -6px;
	border-radius: 100%;
	left: -7.5px;
}

.h-slider-handle:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 4px var(--main-blue);
}

#settings-subtitle {
    color: #4200ac; /* Alternate option */
    color: #ff4db5;
    font-weight: 600;
    font-weight: bold;
}

#settings-complexity {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

#settings-complexity > *:first-child {
    color: #4200ac; /* Alternate option */
    color: #ff4db5;
    font-weight: 500;
    text-align: center;
}

#settings-inplace, #settings-stable {
    width: 110%;
    justify-content: end;
    text-align: right;
}

#inplace-status {
	width: 30px;
	height: 30px;
	background: url(greencheck.svg) no-repeat center / contain;
}

#stable-status {
	width: 30px;
	height: 25px;
	background: url(redcross.svg) no-repeat center / contain;
}



/* Bottom Controls */
.controls-sec {
    height: 15vh;
    /* border: 1px solid blue; */
}

.controls-sec hr {
    margin: 0 auto;
    color: #c4c4c4;
}

.controls-sec .grid {
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
    max-width: 1200px;
    margin: auto;
}

.control {
    margin: 0 20px;
    text-align: right;
}

#manual-array {
    width: 250px;
    border: none;
    border-bottom: #0194FF 2px solid;
}

#manual-array:focus {
    outline: none;
}

#manual-array.invalid {
    outline: 1.5px solid red;
}

#manual-array-fs {
    position: relative;
    outline: none;
    border: 0px solid;
}

#manual-array-fs > legend {
    position: absolute;
    top: -10px;
    left: 12px;
    font-size: 12px;
    color: red;
    visibility: hidden;
}

/* Footer */
.footer {
    text-align: center;
    font-size: 10px;
    margin: auto;
}

footer {
    height: 5vh;
    /* border: 1px solid red; */
}

/* COMPONENTS */
/* Slider Components */
.slider-bar {
    background-color: var(--main-blue);
    position: absolute;
    bottom: 0px;
    height: 100%;
}

.slider-circ {
    background-color: var(--main-purple);
    border-radius: 50%;
    /* transform: rotate(45deg); */
    position: absolute;
    color: white;
}

.slider-circ:hover {
    cursor: pointer;
}

/* Counting Sort Components */
.counting-sort-container {
    outline: 1px solid red;
    justify-content: space-evenly;
    width: 100%;
}

.counting-sort-subunit {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-subunit {
    align-items: flex-end;
    text-align: right;
    /* font-weight: 500; */
    /* color: var(--main-purple); */
}

.counting-sort-key {
    background-color: var(--yellow-fade2);
    border-radius: 50%;
    /* color: var(--main-magenta); */
    color: var(--main-purple);
    font-weight: 500;
    width: 2.4em;
    height: 2.4em;
}

.key-occurrence {
    color: var(--magenta-fade1);
    font-weight: 700;
    width: 2.4em;
    height: 2.4em;
}

