@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --main-purple: #6300ff;
    --main-blue: #40c6ff;
    --main-yellow: #ffee00;
    --main-green: #00ffbd;
    --main-magenta: #ff0095;
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

/* Header & Navbar */
header {
    background-color: var(--main-purple);
    overflow: auto;
    height: 12vh;
}

header .flex.container {
    margin: auto;
    height: 65%;
    color: white;
    background: url(motif.svg) #36008c no-repeat -5% 45% / 20%;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    justify-content: space-between;
}

header .flex li {
    margin-left: 20px;
    padding-left: 20px;
    font-weight: 500;
    border-left: white 1px solid;
}

header .flex li:first-child {
    border-left: none;
}

.nav-item {
    transition: 0.5s;
    font-weight: 400;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item.active {
	background-color: var(--main-purple);
	padding: 5px 0 5px 10px;
	border-radius: 100px;
	font-weight: 400;
	/* font-weight: 300; */
}

.nav-collapsable {
    display: none;
}

.nav-collapsable.active {
	background-color: var(--main-yellow);
	padding: 5px 10px;
	border-radius: 100px;
	color: #000;
    display: initial;
}

/* Main Section */
.main-sec {
    height: 68vh;
}

.main-sec .main-sec-container {
    position: relative;
    height: 80%;
    width: 70%;
    outline: 1px solid blue;
    flex-direction: column;
    /* background-color: #00ffbb41; */
    /* margin: auto; //Not needed due to "display: flex" on parent*/
}

.main-array {
    outline: 2px solid red;
    position: relative;
    height: 90%;
    width: 100%;
}

.array-item {
    height: 100%;
    display: inline-block;
    position: absolute;
    transition: 0.5s ease-out;
    color: white;
    text-align: center;
    bottom: 0; /* This serves as an anchor for the transition during merge sort */
    /* background-color: var(--main-green); */
}

.settings-box {
    position: absolute;
    right: 50px;
    top: 10px;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 0, 0, 0.356);
}

#settings-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 0, 0.507);
}

/* Bottom Controls */
.controls-sec {
    height: 15vh;
    /* border: 1px solid blue; */
}

.controls-sec hr {
    margin: 0 auto;
    color: #c4c4c4;
}

.controls-sec .grid {
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
    max-width: 1200px;
    margin: auto;
}

.control {
    margin: 0 20px;
    text-align: right;
}

#manual-array {
    width: 250px;
    border: none;
    border-bottom: #0194FF 2px solid;
}

#manual-array:focus {
    outline: none;
}

#manual-array.invalid {
    outline: 1.5px solid red;
}

#manual-array-fs {
    position: relative;
    outline: none;
    border: 0px solid;
}

#manual-array-fs > legend {
    position: absolute;
    top: -10px;
    left: 12px;
    font-size: 12px;
    color: red;
    visibility: hidden;
}

/* Footer */
.footer {
    text-align: center;
    font-size: 10px;
    margin: auto;
}

footer {
    height: 5vh;
    /* border: 1px solid red; */
}

/* COMPONENTS */
/* Slider Components */
.slider-bar {
    background-color: var(--main-blue);
    position: absolute;
    bottom: 0px;
    height: 100%;
}

.slider-circ {
    background-color: var(--main-purple);
    border-radius: 50%;
    /* transform: rotate(45deg); */
    position: absolute;
    color: white;
}

.slider-circ:hover {
    cursor: pointer;
}

/* Counting Sort Components */
.counting-sort-container {
    outline: 1px solid red;
    justify-content: space-evenly;
    width: 100%;
}

.counting-sort-subunit {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-subunit {
    align-items: flex-end;
    text-align: right;
    /* font-weight: 500; */
    /* color: var(--main-purple); */
}

.counting-sort-key {
    background-color: var(--main-yellow);
    border-radius: 50%;
    /* color: var(--main-magenta); */
    color: var(--main-purple);
    font-weight: 500;
}

.key-occurrence {
    color: var(--main-magenta);
    font-weight: 700;
}

